cmd/fdsn-ws/assets/fdsn-ws-dataselect.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://wadl.dev.java.net/2009/02"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<resources base="https://service.geonet.org.nz/fdsnws/dataselect/1/">
		<resource path="query">
			<method href="#queryGET"/>
			<method href="#queryPOST"/>
		</resource>
		<resource path="queryauth">
			<method href="#queryGET"/>
			<method href="#queryPOST"/>
		</resource>
		<resource path="version">
			<method name="GET">
				<response>
					<representation mediaType="text/plain"/>
				</response>
			</method>
		</resource>
		<resource path="application.wadl">
			<method name="GET">
				<response>
					<representation mediaType="application/xml"/>
				</response>
			</method>
		</resource>
	</resources>
	<method name="GET" id="queryGET">
		<request>
			<param name="starttime" style="query" type="xsd:dateTime"/>
			<param name="endtime" style="query" type="xsd:dateTime"/>
			<param name="network" style="query" type="xsd:string"/>
			<param name="station" style="query" type="xsd:string"/>
			<param name="location" style="query" type="xsd:string"/>
			<param name="channel" style="query" type="xsd:string"/>
		</request>
		<response status="200">
			<representation mediaType="application/vnd.fdsn.mseed"/>
		</response>
		<response status="204 400 401 403 404 413 414 500 503">
			<representation mediaType="text/plain; charset=utf-8"/>
		</response>
	</method>
	<method name="POST" id="queryPOST">
		<response status="200">
			<representation mediaType="application/vnd.fdsn.mseed"/>
		</response>
		<response status="204 400 401 403 404 413 414 500 503">
			<representation mediaType="text/plain; charset=utf-8"/>
		</response>
	</method>
</application>
